<mat-card *ngIf="vm$ | async as vm">

    <h1 *ngIf="(order$ | async)">Edit Order</h1>
    <h1 *ngIf="!(order$ | async)">Create Order</h1>
    <form [formGroup]="vm.form">
        <app-order-editor formControlName="order">
        </app-order-editor>
    </form>

    <div class="actions">
        <button mat-raised-button (click)="save(vm)" color="primary" [disabled]="!vm.form.dirty && vm.form.valid">Save</button>

        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</mat-card>
