:host {
    color:rgba(0, 0, 0, 0.75);

    a {
        display: block;        
        padding: 0 0 20px 0;
        user-select: none;
        cursor: pointer;

        mat-icon {
            margin-top: -6px;
        }
        
        mat-icon, span {
            display: inline-block;
            line-height: 30px;
            vertical-align: middle;
        }

        span {
            margin-left: 20px;
        }
    }
}