<mat-card *ngIf="vm$ | async as vm" class="mat-card--no-shadow">

    <h1 *ngIf="(content$ | async)">Edit Content</h1>
    <h1 *ngIf="!(content$ | async)">Create Content</h1>
    <form [formGroup]="vm.form">
        <app-content-editor formControlName="content">
        </app-content-editor>
    </form>

    <div class="actions">
        <button mat-raised-button (click)="save(vm)" color="primary" [disabled]="!vm.form.dirty && vm.form.valid">Save</button>

        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</mat-card>
