@import 'src/scss/gutters.scss';

:host {
    display: block;
    background-color: #fff;
    padding-top: $gutter-x;
    padding-bottom: $gutter-x;
    height: 100%;

    .image {
        max-height: 880px;
        overflow: hidden;
        display: block;

        img {
            margin: 0 auto;
            display: block;
        }
    }
}