@import 'src/scss/gutters.scss';

:host {
    display: block;
    background-color: #fff;
    height: 100%;

    .image {        
        display: block;        

        img {
            margin: 0 auto;
            display: block;
            box-sizing: border-box;
            max-width: 100%;
        }
    }
}