@import 'src/scss/gutters.scss';

:host {
    background-color: #fff;
    padding-top: $gutter-x;
    padding-bottom: $gutter-x;
    .image {
        max-height: 880px;
        overflow: hidden;
        img {
            max-width: calc(100vw - 80px);
            margin-top: -250px;
        }
    }
}