<mat-card *ngIf="vm$ | async as vm">

    <h1 *ngIf="(digitalAsset$ | async)">Edit Digital Asset</h1>
    <h1 *ngIf="!(digitalAsset$ | async)">Upload Digital Asset</h1>
    <form [formGroup]="vm.form">
        <app-digital-asset-upload *ngIf="!(digitalAsset$ | async)" formControlName="digitalAsset">

        </app-digital-asset-upload>

        <app-digital-asset-editor *ngIf="(digitalAsset$ | async)" formControlName="digitalAsset">

        </app-digital-asset-editor>
    </form>

    <div class="actions" >
        <button *ngIf="(digitalAsset$ | async)" mat-raised-button (click)="save(vm)" color="primary" [disabled]="!vm.form.dirty && vm.form.valid">Save</button>

        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</mat-card>
