<mat-card *ngIf="vm$ | async as vm">

    <h1 *ngIf="(basket$ | async)">Edit Basket</h1>
    <h1 *ngIf="!(basket$ | async)">Create Basket</h1>
    <form [formGroup]="vm.form">
        <app-basket-editor formControlName="basket">
        </app-basket-editor>
    </form>

    <div class="actions">
        <button mat-raised-button (click)="save(vm)" color="primary" [disabled]="!vm.form.dirty && vm.form.valid">Save</button>

        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</mat-card>
