<mat-card *ngIf="vm$ | async as vm">

    <h1 *ngIf="(catalogItem$ | async)">Edit CatalogItem</h1>
    <h1 *ngIf="!(catalogItem$ | async)">Create CatalogItem</h1>
    <form [formGroup]="vm.form">
        <app-catalog-item-editor formControlName="catalogItem">
        </app-catalog-item-editor>
    </form>

    <div class="actions">
        <button mat-raised-button (click)="save(vm)" color="primary" [disabled]="!vm.form.dirty && vm.form.valid">Save</button>

        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
</mat-card>
