@import 'src/scss/breakpoints.scss';
@import 'src/scss/variables.scss';

$height-xs: 95px;
$height-min-md: 150px;

.header-layout {
    height: $height-xs;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    overflow: hidden;
    max-width: 1420px;
    margin: 0 auto;
    .logo-container {
        cursor: pointer;
    }
    
    img {
        height: 170px;
        margin: 0 auto;
    }


    mat-icon {        
        color: rgba(0,0,0,.55);
        cursor: pointer;
    }

    .actions {
        mat-icon {
            padding: 0 12px;    
        }

        mat-icon:last-child {
            padding: 0 0 0 12px;
        }
    }

    div {
        height: 95px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .shoppingCart, .profile {
        display: none;
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

@media screen and (min-width: $screen-md) {
    .header-layout {
        height: $height-min-md;
        img {
            height: 250px;
            margin: 0 auto;
        }

        div {
            height: $height-min-md;
        }

        .shoppingCart, .profile {
            display: initial;
        }        
    }    
}